<h1><%= @topic.name %></h1>

<div class="row">
  <div class="col-md-8">
    <p class="lead top-spacer well"><%= @topic.description %></p>
      
    <% if is_user_authorized_for_topics?('edit') %>
      <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
    <% end %>
    
    <% if is_user_authorized_for_topics?('delete') %>
      <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
    <% end %>
    <hr>
    <h2>Posts</h2>
    <% @topic.posts.each do |post| %>
        <%= render partial: 'posts/post', locals: { post: post } %>
    <% end %>
    
    <% if current_user %>
        <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-success' %>
    <% end %>
   <hr>
   <h2>Sponsored Posts</h2>
    <% @topic.sponsored_posts.each do |sponsored_post| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to sponsored_post.title, topic_sponsored_post_path(@topic, sponsored_post) %>
          </h4>
          <small>
            submitted <%= time_ago_in_words(sponsored_post.created_at) %> ago <br>
          </small>
        </div>
      </div>
    <% end %>
    
    <% if  check_admin_or_mod("new") %>
      <%= link_to "New Sponsored Post", new_topic_sponsored_post_path(@topic), class: 'btn btn-success top-spacer' %>
    <% end %>
  </div>
  
</div>
