<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>,
          <%= pluralize(@user.favorites.count, 'favorite') %>
        </small>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="well">
  <div>
    <h2>Your Posts</h2>
    <% if user_has_no_posts(@user) %>
      <p><%= @user.name %> has not submitted any posts yet.</p>
    <% else %>
      <%= render @user.posts %>
    <% end %>
  </div>
  
  <div>
    <h2>Your Comments</h2>  
    <% if user_has_no_comments(@user) %>
      <p><%= @user.name %> has not submitted any comments yet.</p>
    <% else %>
      <%= render @user.comments %>
    <% end %>
  </div>
  
  <div>
    <h2>Your Favorites</h2>
    <% if user_has_no_favorites(@user) %>
      <p><%= @user.name %> does not have any favorites yet.</p>
    <% else %>

      <%= render @user.favorite_posts %>
      
    <% end %>
  </div>  
</div>
